<!doctype html>
<html lang="tr">
<head>
    @Html.Partial("~/Views/Shared/PartialHead.cshtml")
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Admin Dashboard</span>
                </button>
            </div>
            @Html.Partial("~/Views/Shared/PartialSidebar.cshtml")
        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("~/Views/Shared/PartialScript.cshtml")
</body>
</html>