
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Referans Ekleme Sayfası</h3>

<form class="form-group" method="post">
    <label>Adı Soyadı</label>
    <input type="text" name="NameSurname" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <label>Resim Dosya Yolu</label>
    <input type="text" name="ImageUrl" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <button class="btn btn-info">Ekle</button>
</form>